[*.{kt,kts}]
indent_size = 2
max_line_length = 100
trim_trailing_whitespace = true
insert_final_newline = true
ij_kotlin_imports_layout=*

# Comma-separated list of rules to disable
# ktlint disagrees on indentation with ktfmt in some cases
# TODO(facebookincubator/ktfmt#185): Re-enable paren-spacing and curly-spacing
# once ktfmt bug has been fixed.
disabled_rules=indent,paren-spacing,curly-spacing
