name: Lint

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, edited]

jobs:
  lint:
    name: Lint changed files
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Lint
      uses: world-federation-of-advertisers/actions/lint@a9407321ceb8da9912face58a8139603678c869d # v2.5.0
      with:
        license-type: apache
        copyright-holder: The Cross-Media Measurement Authors
